<%- include ("partials/header.ejs") %>
<body>
    <div class="container"></div>
    <br><br>
    <h3 align="center">AVALIAÇÃO 01 - GIOVANA ZANONI 3-54</h3>
    <br><br>
    <a href="/cadastrarProd"><button type="button" class="btn btn-primary btn-lg btn-block">Cadastro de Produtos</button></a>
    <br>
    <a href="/listarProd"><button type="button" class="btn btn-secondary btn-lg btn-block">Listar Produtos</button></a>
</body>